/* styles.css */
body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

*{
    box-sizing: border-box;
}

button{
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 0;
}

button:hover{
    background-color: rgba(240, 248, 255, 0.71);
    transition-duration: 0.6s;
}

#content{
    padding: 70px 100px;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh;
}

.navR{
    display: flex;
    gap: 50px;
}

p{
    font-size: 20px;
    font-weight: 300;
}

h1{
    font-size: 40px;
    font-weight: 300;
}

h2{
    font-weight: 300;
}

.p{
    font-style: italic;
    color: rgb(178, 178, 178);
}

.div{
    border-top: 1px solid white;
    padding: 10px;
}

.midLine{
    border: 1px solid;
    transform: rotate(90deg);
    border-left: 40px;
    width: 70vh;
    position: absolute;
    margin-left: -60vh;
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}